.search-bar-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding-left: 10px;
  }
  
  
  .search-input {
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
    box-sizing: border-box;
  }
  