.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 0;
    list-style: none;
  }
  
  .item-list li {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .item-list li img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  h1 {
    padding-left: 10px;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .item-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .item-list {
      grid-template-columns: 1fr;
    }
  }
  